html, body {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout .content {
  flex: 1;
}

.public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.public-layout .content {
  flex: 1;
}
