<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img
      ngSrc="assets/images/uni-logo.ico"
      [routerLink]="link()"
      alt="Logo"
      height="48"
      width="48"
      class="navbar-brand"
    />

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button
            type="button"
            class="nav-link btn btn-link"
            (click)="logout()"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
